@import "tailwindcss";

html {
    --font-heading: "EPSON_MX-80_W_Z", "sans-serif";
    font-size: 16px;
    scroll-behavior: smooth;
}

@media (min-width: theme(--breakpoint-md)) {
    html {
        font-size: 22px;
    }
}

h1,
h2 {
    font-family: var(--font-heading);
}

@font-face {
    font-family: "EPSON_MX-80_W_Z";
    src:
        url("/fonts/EPSON_MX-80_W_Z.woff") format("woff"),
        url("/fonts/EPSON_MX-80_W_Z.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px) scale(0.99);
    transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}
