---
import PageSection from "@components/PageSection.astro";
import * as content from "@content/pages/home/about.md";
const aboutModule = await import("@content/pages/home/about.md");
const Content = aboutModule.default;
---

<PageSection id="about" title={content.frontmatter.title}>
    <div class="max-w-2xl">
        <Content />
    </div>
</PageSection>
