---
import { Image } from "astro:assets";
const { title, description, logo, url, tags } = Astro.props;

// Import all logo images dynamically
const logos = import.meta.glob("/src/assets/*.{png,jpg,jpeg,svg,webp}", {
    eager: true,
    import: "default",
});

// Get the correct logo path
const logoSrc = logos[logo];
---

<a
    href={url}
    target="_blank"
    rel="noreferrer"
    class="grid gap-2 grid-cols-12 align-center transition-colors px-6 py-6 bg-black hover:bg-stone-900 -mx-px -my-px border border-stone-700 first:rounded-tl-3xl first:rounded-tr-3xl md:first:rounded-tr-none md:[&:nth-child(2)]:rounded-tr-3xl md:[&:nth-last-child(2)]:rounded-bl-3xl last:rounded-bl-3xl last:rounded-br-3xl md:last:rounded-bl-none text-white"
>
    <div class="flex justify-between col-span-4">
        <div class="aspect-21/9 inline-flex items-center justify-start">
            <Image
                src={logoSrc}
                alt={`Logo ${title}`}
                width={250}
                height={180}
                decoding="async"
                loading="lazy"
                class="invert brightness-1 contain-content"
            />
        </div>
    </div>
    <div class="col-span-12 text-stone-500">
        {description}
    </div>
</a>
