---
import SectionHeading from "@components/SectionHeading.astro";
const { id, title, lead } = Astro.props;
---

<section class="animate-on-scroll py-24" id={id}>
    <SectionHeading title={title} lead={lead} />
    <slot />
</section>
