---
import PageSection from "@components/PageSection.astro";
import Investment from "@components/Investment.astro";
import content from "@content/pages/home/investments.json";
const tags = [
    ...new Set(content.investments.map((post: any) => post.tags).flat()),
];
---

<PageSection
    id="portfolio"
    title="Investment Portfolio"
    lead="Diverse investments across emerging technologies"
>
    <div
        class="grid grid-cols-1 md:grid-cols-2 p-2 bg-stone-900 border border-stone-800 rounded-4xl"
    >
        {content.investments.map((item) => <Investment {...item} />)}
    </div>
</PageSection>
