---
import SectionHeading from "@components/SectionHeading.astro";
import Investment from "@components/Investment.astro";
import content from "@content/pages/home/investments.json";
const tags = [
    ...new Set(content.investments.map((post: any) => post.tags).flat()),
];
---

<section id="portfolio" class="my-32 animate-on-scroll">
    <SectionHeading title="Investment Portfolio" />
    <p class="mb-8">Diverse investments across emerging technologies</p>
    <div class="grid grid-cols-1 md:grid-cols-2">
        {content.investments.map((item) => <Investment {...item} />)}
    </div>
</section>
