---
const { title, lead } = Astro.props;
---

<div class="mb-16">
    <h2 class="text-4xl break-words hyphens-auto">{title}</h2>
    {lead && <p class="text-lg mt-4 text-stone-500">{lead}</p>}
</div>
