---
import content from "@content/pages/home/services.json";
import SectionHeading from "@components/SectionHeading.astro";
import Service from "@components/Service.astro";
---

<section id="services" class="animate-on-scroll mb-32">
    <SectionHeading title="Our Services" />
    <div class="grid grid-cols-1 md:grid-cols-2">
        {
            content.services.map((service) => (
                <Service
                    title={service.title}
                    description={service.description}
                    icon={service.icon}
                />
            ))
        }
    </div>
</section>
