---
const { title, description, icon } = Astro.props;
---

<div class="border border-stone-800 px-3 py-3 rounded-md flex gap-2 bg-black">
    <div class="">
        <h3>
            {title}
        </h3>
        <p class="text-xs mt-1">
            {description}
        </p>
    </div>
</div>
