---
const { title, description, icon } = Astro.props;
---

<div class="p-4 border border-stone-700 -ml-px -mt-px">
    <div class="flex gap-1.5 flex-col -mt-1.5 -mb-0.5">
        <h3 class="text-2xl">
            {title}
        </h3>
        <p class="text-xs mt-1 max-w-[16em] text-balance">
            {description}
        </p>
    </div>
</div>
